//Import Style
@import "../font/fontface";
@import "common/common";
@import "common/mixin";

body {
  margin: 0;
  padding: 0;
  font-family: "HLTFont";
  font-size: 20px;
  line-height: 1.4;
  overflow: hidden;
  cursor: url(../image/icon/icon-mouse.png), auto !important;

  &::selection {
    background-color: transparent;
  }
  &::-moz-selection {
    background-color: transparent;
  }
}

area:-webkit-any-link {
  cursor: url(../image/icon/icon-mouse.png), auto !important;
}

#section-1 {
  //display: none;
  background: #fff6f0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  border: 10px solid $green;

  header {
    position: fixed;
    width: calc(100% - 20px);
    padding: 20px;
    top: 10px;
    left: 10px;
    @extend %d-flex;
    align-items: center;
    justify-content: center;

    .col-left {
      margin-right: auto;

      h1 {
        text-transform: uppercase;
        line-height: 20px;
        a {
          color: #777;
        }
      }
    }

    .col-right {
      margin-left: auto;

      a {
        @extend %d-flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        span {
          display: block;
          width: 100%;
          text-align: center;
          //font-size: ;
          color: #6c6c6c;
        }
      }
    }
  }

  #btn-mute {
    background: transparent;
    border: none;
    position: fixed;
    bottom: 30px;
    left: 30px;
    &.disabled {
      opacity: 0.3;
    }
  }

  #section-content-1 {
    @extend %d-flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    .section-content {
      &-title {
        text-align: center;
        font-size: 90px;
        text-transform: uppercase;
        color: $green-text;
        line-height: 1.05;
        position: relative;

        span {
          font-size: 140px;
          display: block;
        }

        &:before {
          content: "";
          position: absolute;
          top: 20px;
          left: -80px;
          width: 70px;
          height: 100px;
          background: url("../image/icon/icon-zoom.png") no-repeat;
          background-size: 64px auto;
        }
      }

      &-subtitle {
        text-align: center;
        font-size: 30px;
        margin: 30px 0;
        color: #6c6c6c;

        a {
          color: #6c6c6c;

          &:hover {
            color: $green-text;
          }
        }
      }

      &-btn {
        button {
          background: transparent url("../image/icon/bg-btn.png") no-repeat;
          background-size: 100%;
          border: none;
          text-transform: uppercase;
          padding: 5px 80px;
          font-family: "HLTFont";
          color: $green-text;
          font-size: 40px;
          display: table;
          margin: 0 auto;
          @include scale(0.9);

          &:hover {
            @include scale(1);
          }
        }
      }
    }
  }

  #section-content-2 {
    @extend %d-flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    .section-content {
      &-title {
        text-align: center;
        font-size: 75px;
        text-transform: uppercase;
        color: $green-text;
        line-height: 1.05;
        position: relative;
      }

      &-image {
        img {
          width: 60vw;
          max-width: 750px;
          display: table;
          margin: 20px auto;
        }
      }

      &-btn {
        h4 {
          text-align: center;
          color: #666;
          font-size: 30px;
        }

        ul {
          @extend %d-flex;
          align-items: center;
          justify-content: center;
          margin-top: 20px;

          li {
            button {
              height: 130px;
              width: 180px;
              display: block;
              background: transparent;
              border: none;
              @include filter(brightness(0) opacity(0.5));
              @include scale(0.9);

              img {
                height: 100%;
                width: auto;
              }

              &:hover {
                @include filter(brightness(1) opacity(1));
                @include scale(1);
              }
            }
          }
        }
      }
    }
  }
}

/*Responsive*/

@media (max-width: 1600px) and (max-height: 900px) {
  #section-1 {
    #section-content-1 {
      .section-content-title {
        font-size: 80px;
        span {
          font-size: 120px;
        }
      }
    }
    #section-content-2 {
      .section-content-image {
        img {
          width: 50vw;
          max-width: 550px;
        }
      }
    }
  }
}

@media (max-width: 1366px) and (max-height: 768px) {
  #section-1 {
    #section-content-1 {
      .section-content-title {
        font-size: 70px;
        span {
          font-size: 100px;
        }
      }
    }
    #section-content-2 {
      .section-content-title {
        font-size: 60px;
      }
      .section-content-image {
        img {
          width: 40vw;
          max-width: 400px;
        }
      }
    }
  }
}

// Vinh Responsive code
@media (max-width: 767px) {
  #section-1 {
    header {
      .col-left {
        h1 {
          font-size: 17px;
          line-height: 1;
        }
      }
      .col-right {
        a {
          img {
            width: 40px;
          }
          span {
            font-size: 17px;
          }
        }
      }
    }
    #section-content-1 {
      width: 100%;
      height: 100%;

      .section-content {
        .section-content-title {
          font-size: 50px;

          span {
            font-size: 80px;
          }

          &::before {
            top: -50px;
            left: 50%;
            width: 25px;
            height: 40px;
            background-size: 100% 100%;
            transform: translateX(-50%);
          }
        }
        .section-content-subtitle {
          font-size: 25px;
          margin: 15px 0;
        }
        .section-content-btn {
          button {
            padding: 5px 70px;
            font-size: 35px;
          }
        }
      }
    }
    #btn-mute {
      left: 50%;
      transform: translateX(-50%);

      img {
        width: 25px;
      }
    }
    #section-content-2 {
      width: 100%;
      height: 100%;

      .section-content {
        padding-top: 8vh;

        .section-content-title {
          font-size: 45px;
        }
        .section-content-image {
          width: 85vw;
          max-width: 700px;
          margin: 0 auto;

          img {
            width: 100%;
            max-width: unset;
          }
        }
        .section-content-btn {
          h4 {
            font-size: 25px;
          }
        }
      }
    }
  }
}
// End Vinh Responsive code
